@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
    @apply text-sm uppercase tracking-widest leading-4 font-normal lg:text-base hover:underline;
}

.hero {
    background-image: url("./assets/home/desktop/bg-pattern-hero-home.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-bg {
    background-image: url("./assets/home/desktop/image-hero-phone.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
}


/* Services Backgrouunds */
.service {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service-web-design {
    background-image: url("./assets/home/mobile/image-web-design.jpg");
}

.service-app-design {
    background-image: url("./assets/home/mobile/image-app-design.jpg");
}

.service-graphic-design {
    background-image: url("./assets/home/mobile/image-graphic-design.jpg");
}

@media(min-width: 768px) {
    .service-web-design {
        background-image: url("./assets/home/tablet/image-web-design.jpg");
    }

    .service-app-design {
        background-image: url("./assets/home/tablet/image-app-design.jpg");
    }

    .service-graphic-design {
        background-image: url("./assets/home/tablet/image-graphic-design.jpg");
    }
}

@media(min-width: 1024px) {
    .service-web-design {
        background-image: url("./assets/home/desktop/image-web-design-small.jpg");
    }

    .service-app-design {
        background-image: url("./assets/home/desktop/image-app-design.jpg");
    }

    .service-graphic-design {
        background-image: url("./assets/home/desktop/image-graphic-design.jpg");
    }
}